* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #E8E2DB;
  font-family: 'Montserrat', sans-serif;
  color: white;
  }
  
#task-frontend {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
  width: 60vw;
  max-width: 550px;
  border-radius: 20px;
  background-color: rgba(0, 65, 109, 0.95);
  box-shadow: 0 2px 5px rgba(0,0,0,0.3)
  }

#task-frontend img {
  width: 50px;
  margin-top: 30px;
}

#task-frontend .basic-title {
  font-size: 26px;
  font-weight: 700;
  padding: 20px 0;
}

form {
  flex-grow: 1;
}
  
#task-frontend input[type="text"], #task-frontend input[type="email"] {
  display: block;
  margin-top: 10px;
  width: 250px;
  height: 30px;
}

#task-frontend input[type="text"]:focus,  #task-frontend input[type="email"]:focus {
  background-color: #FAB95B;
  outline: 0;
}
  
#task-frontend form span {
  display: block;
  padding: 20px 0;
  text-align: center;
}

div.sections-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

div.sections-wrapper div.section {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 50%;
}

div.section label {
  flex-basis: 85%;
  padding-left: 5px;
  display: flex;
  text-transform: lowercase;
}

input::placeholder {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  padding-left: 4px;
}

.section i {
flex-grow: 1;
}

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

div.section label::before {
  content:'';
  width: 1em;
  height: 1em;
  border-radius: .15em;
  margin-right: .5em;
  border: .05em solid white;
}

div.section input[type="checkbox"]:checked+label::before {
  background-color: #FAB95B;
}

.sections-wrapper input {
  cursor: pointer;
}

.sections-wrapper label:hover {
  cursor: pointer;
}

.fas {
  color: #FAB95B;
  text-align: center;
}
  
#task-frontend input[type="submit"] {
  display: block;
  width: 100px;
  height: 50px;
  line-height: 50px;
  margin: 40px auto;
  text-align: center;
  font-weight: 700;
  color: #FAB95B;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #FAB95B;
  transition: 0.5s;    
}

#task-frontend input[type="submit"]:hover {
  cursor: pointer;
  background-color: #FAB95B;
  color: #00416D;
}

div.error {
  color: #ff3860;
  font-size: 10px;
  min-height: 12px;
}


@media (max-width:1024px) {
  #task-frontend {
    width: 80vw;
  }
  #task-frontend .basic-title {
    width: 250px;
  }
}
